arrow
betamax==0.4.0
celery
Celery
click
Click
cookiecutter
cookiecutter
coverage
coveralls==0.4.2
cryptography
cryptography
Django==2.2.27
django-allauth
django-bootstrap3
django-braces
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-filter
django-guardian
django-jsonfield
django-model-utils
django-mptt
django-nose
django-redis
django-rest-framework
django-rest-framework
django-rest-swagger
django-reversion
django-storages
django-suit
django-taggit
django-tastypie
fabric
Fabric
faker
flake8==2.1.0
Flask==0.10.1
flask-admin
flask-bootstrap
flask-cors
flask-login
Flask-Migrate
flask-restful
flask-script
Flask-SocketIO
flask-sqlalchemy
Flask-SSLify==0.1.4
flask-wtf
gunicorn==18.0
idna==2.5.0
itsdangerous==0.24
Jinja2==2.7.3
lxml
MarkupSafe==0.23
Marshmallow
Mongoose
nose
numpy
numpy
paramiko
Paramiko
pep8==1.5.6
pillow
Pillow
psutil
psycopg2
pyflakes==0.8.1
pylint
pytest==2.5.2
pytest-cov==1.6
python-dateutil
rauth==0.7.0
redis
requests==2.18.0
setuptools
simplejson
sphinx
SQLAlchemy==1.2.11
tornado
urllib3==1.21.1
watchdog
Werkzeug==0.9.6
